@model IEnumerable<BakeryProject.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Bakery Sales</h1>
</div>

<table class=" table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ProductKey)</th>
        <th>@Html.DisplayNameFor(model => model.ProductName)</th>
        <th>@Html.DisplayNameFor(model => model.ProductPrice)</th>
        <th>"Quantity"</th>



    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.ProductKey)</td>
            <td>@Html.DisplayFor(model => item.ProductName)</td>
            <td>@Html.DisplayFor(model => item.ProductPrice)</td>
            <td></td>

        </tr>
    }
</table>

